<form action="/" method="post">
    <fieldset>
        <legend>Your Exercise Details:</legend>

        <label>Name:
			<input type="text" name="name" id="name">
        </label>
        <br />

        <label>Reps:
			<input type="number" name="reps" id="reps">
        </label>
        <br />

        <label>Weight:
			<input type="number" name="weight" id="weight">
        </label>
        <br />

        <label>Date:
			<input type="text" name="reps" id="date" placeholder="YYYY-MM-DD">
        </label>
        <br />

         <label>Unit:
			<input type="number" name="unit" id="unit">
        </label>
        <br />
		<input type="submit" name="addRow" id="addRow">
    </fieldset>
</form>

<h1>Completed Exercises:</h1>
<h4>Please enter date in the form of YYYY-MM-DD</h4>
<h4>Update entry by changing values in the table and hitting edit button.</h4>
<h4>Hitting edit button will save new values you enetered.</h4>
<p id="showData"></p>








